/**
 * Plugin Name: WordPress Admin Themes Blackboard
 * Plugin URI: 
 * Description: A little plugin to add your own color schemes to WordPress.
 * Version: 1.0
 * Author: Golga
 * Author URI: http://golga.eu
 * License: GNU3
 */

$base-color: #363b3f;
$highlight-color: #e14d43;
$notification-color: #69a8bb;

@import "_admin.scss";
