/**
 * Plugin Name: WordPress Admin Themes vdoLight
 * Plugin URI: 
 * Description: A little plugin to add your own color schemes to WordPress.
 * Version: 1.0
 * Author: Golga
 * Author URI: http://golga.eu
 * License: GNU3
 */

$base-color: #FFFFFF;
$highlight-color: #FB9600;
$notification-color: #B7C000;

@import "_admin.scss";
